<%= form_for wallet, url: {action: action}, html: {role: "form" }, class: "form-group" do |f| %>
  
  <%= f.label :coin, "Select Coin", class: "col-form-label" %>
  <!--Select a coin from the JSON array-->
  <%= f.select :coin, Coin.all_coin_fullnames, class: "custom-select" %><br>
  
  <%= f.label "Wallet Name", class: "col-form-label" %>
  <%= f.text_field :name, class: "form-control" %><br>
  <%= f.label "Coin Quantity", class: "col-form-label" %>
  <%= f.number_field :coin_amount, class: "form-control", min: 0, step: 0.0001 %><br>
  <%= f.label "User Deposit", class: "col-form-label" %>
  <%= f.number_field :user_deposit, class: "form-control", min: 0, step: 0.0001 %><br>
  <%= f.label "Notes", class: "col-form-label" %>
  <%= f.text_area :notes, class: "form-control" %><br>
  
  <%= f.hidden_field :user_id, value: current_user.id %><br>
  
  <p>Create a new associated transaction here:</p>
  
  <%= f.fields_for :transactions, wallet.transactions.build do |tx| %>
  
    <%= tx.label :coin, "Select Coin", class: "col-form-label" %>
    <!--Select a coin from the JSON array-->
    <%= tx.select :coin, Coin.all_coin_fullnames, class: "custom-select" %><br>
  
    <%= tx.label "Amount Purchased (USD)", class: "col-form-label" %>
    <%= tx.number_field :amount, class: "form-control", min: 0, step: 0.0001 %><br>
    
    <%= tx.label "Coin Quantity", class: "col-form-label" %>
    <%= tx.number_field :quantity, class: "form-control", min: 0, step: 0.0001 %><br>
    
    <%= tx.label "Price Per Coin (USD)", class: "col-form-label" %>
    <%= tx.number_field :price_per_coin, class: "form-control", min: 0, step: 0.0001 %><br>
    
    <%= tx.label "Exchange fee (if any)", class: "col-form-label"  %>
    <%= tx.number_field :fee, class: "form-control", min: 0, step: 0.0001  %><br>
  <% end %>
  
  <%= f.submit "Submit Wallet", class: "btn btn-primary" %>
<% end %>