<div class="jumbotron">
  <h1 class="display-4">Your Wallets</h1>
  
  <% if current_user && !current_user.wallets.empty? %>
  
    <hr class="my-4">
    <div class="list-group">
      
    <% current_user.wallets.each do |wallet| %>
      <%= link_to user_wallets_path(current_user, @wallets), class: "list-group-item" do %>
      
        <h3 class="pull-right"><small class="text-uppercase">created at: </small><%= wallet.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h3>
  
        <p class="mb-1"><%= wallet.coin.name %></p>
        <p class="mb-1"><%= wallet.coin_amount %></p>
        <p class="mb-1"><%= wallet.user_deposit %></p>
        <p class="mb-1"><%= wallet.net_value %></p>
        
       <% end %>
    <% end %>
    
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any wallets. Please add a new wallet below.</p>
    
  <% end %>
  
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Add A New Wallet", new_user_wallet_path(current_user, @wallet), class: "btn btn-primary btn-lg", role: "button" if current_user %>
  </p>
</div>