<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Your Wallet</h5>
      <small class="text-muted">Last Updated: <%= @wallet.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small>
    </div>
      <p class="mb-1">Wallet name: <%= @wallet.name %></p>
      <p class="mb-1">Coin: <%= @wallet.coin.name %></p>
      <p class="mb-1">Amount: <%= @wallet.coin_amount %> <%= @wallet.coin.symbol %></p>
      <p class="mb-1">Amount deposited: $<%= @wallet.user_deposit %></p>
      <!--<p class="mb-1">Net value: $<%= @wallet.net_value %></p>-->
    <small class="text-muted">Donec id elit non mi porta.</small>
  </div>
</div>