<div class="jumbotron">
  <h1 class="display-4">Your Transactions</h1>
  
  <div class="container" id="tx-show">
        <% if current_user && !current_user.transactions.empty? %>
  
    <hr class="my-4">
    <div class="list-group" id="tx-list">
      
    <% current_user.transactions.reverse.each do |tx| %>
      <%= link_to user_transaction_path(current_user, tx), 
          class: "list-group-item list-group-item-action flex-column align-items-start",
          id: tx.id,
          data: {id: tx.id } do %>
      
        <h5 class="pull-right"><small class="text-muted"><%= tx.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small></h5>
        
        <p class="mb-1">Coin: <%= tx.coin.name if tx.coin %></p>
        <p class="mb-1">Amount: <%= tx.amount %></p>
        <p class="mb-1">Quantity: <%= tx.quantity %> <%= tx.coin.symbol if tx.coin%></p>
        <p class="mb-1">Coin price: $<%= tx.price_per_coin %></p>
        <p class="mb-1">Transaction fee: $<%= tx.fee %></p>
        
       <% end %>
    <% end %>
    
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any transactions. Please add a new transaction below.</p>
    
  <% end %>
  </div>
  
  <hr class="my-4">
  <div class="container" >
    <p class="lead" id="new_tx_form">
      
    </p>
  </div>
  
  <p class="lead">
    <%= link_to "Add A New Transaction", new_user_transaction_path(current_user, @transaction),
        class: "btn btn-primary btn-lg",
        id: "add_tx",
        role: "button" if current_user %>
  </p>
</div>

<script id="tx-show-template" type="text/x-handlebars-template">
  <div class="container lead">
    <p class="mb-1">TxId: {{ id }}</p>
    <p class="mb-1">Wallet Id: {{ wallet_id }}</p>
    <p class="mb-1">Coin Name: {{ coin.name }}</p>
    <p class="mb-1">Amount: {{ amount }}</p>
    <p class="mb-1">Quantity: {{ quantity }} {{ coin.symbol }}</p>
    <p class="mb-1">Coin price: $ {{ price_per_coin }}</p>
    <p class="mb-1">Transaction fee: ${{ fee }}</p>
    <p class="mb-1">Created at: {{ created_at }}</p>
  </div>
</script>

<script id="new-tx-form-template" type="text/x-handlebars-template">
  <%= form_for [current_user, @transaction], class: "form-group", id: "tx_submit" do |f| %>

  <%= f.label :coin, "Select Coin Type", class: "col-form-label" %>
  <%= f.select :coin, Coin.all_coin_fullnames, class: "custom-select" %><br>
  
  <%= f.label "Amount Purchased (USD)", class: "col-form-label" %>
  <%= f.number_field :amount, class: "form-control", min: 0, step: 0.0001 %><br>
  
  <%= f.label "Coin Quantity", class: "col-form-label"  %>
  <%= f.number_field :quantity, class: "form-control", min: 0, step: 0.0001 %><br>
  
  <%= f.label "Price Per Coin (USD)", class: "col-form-label"  %>
  <%= f.number_field :price_per_coin, class: "form-control", min: 0, step: 0.0001  %><br>
  
  <%= f.label "Exchange fee (if any)", class: "col-form-label"  %>
  <%= f.number_field :fee, class: "form-control", min: 0, step: 0.0001  %><br>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
    
  
  <%= f.submit "Submit Transaction", class: "btn btn-primary" %>
<% end %>
</script>

<script id="tx-list-template" type="text/x-handlebars-template">
    <% if current_user && !current_user.transactions.empty? %>
  
    <hr class="my-4">
    <div class="list-group" id="tx-list-temp">
      
    <% current_user.transactions.reverse.each do |tx| %>
      <%= link_to user_transaction_path(current_user, tx), 
          class: "list-group-item list-group-item-action flex-column align-items-start",
          id: tx.id,
          data: {id: tx.id } do %>
      
        <h5 class="pull-right"><small class="text-muted"><%= tx.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small></h5>
        
        <p class="mb-1">Coin: <%= tx.coin.name if tx.coin %></p>
        <p class="mb-1">Amount: <%= tx.amount %></p>
        <p class="mb-1">Quantity: <%= tx.quantity %> <%= tx.coin.symbol if tx.coin%></p>
        <p class="mb-1">Coin price: $<%= tx.price_per_coin %></p>
        <p class="mb-1">Transaction fee: $<%= tx.fee %></p>
        
       <% end %>
    <% end %>
    
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any transactions. Please add a new transaction below.</p>
    
  <% end %>
</script>