<div class="jumbotron">
  <h1 class="display-4">Your Transactions</h1>
  
  <% if current_user && !current_user.transactions.empty? %>
  
    <hr class="my-4">
    <div class="list-group">
      
    <% current_user.transactions.reverse.each do |tx| %>
      <%= link_to user_transaction_path(current_user, tx), 
          class: "list-group-item list-group-item-action flex-column align-items-start" do %>
      
        <h5 class="pull-right"><small class="text-muted"><%= tx.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small></h5>
        
        <p class="mb-1">Coin: <%= tx.coin.name %></p>
        <p class="mb-1">Amount: <%= tx.amount %></p>
        <p class="mb-1">Quantity: <%= tx.quantity %> <%= tx.coin.symbol %></p>
        <p class="mb-1">Coin price: $<%= tx.price_per_coin %></p>
        <p class="mb-1">Transaction fee: $<%= tx.fee %></p>
        
       <% end %>
    <% end %>
    
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any transactions. Please add a new transaction below.</p>
    
  <% end %>
  
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Add A New Transaction", new_user_transaction_path(current_user, @transaction),
        class: "btn btn-primary btn-lg", role: "button" if current_user %>
  </p>
</div>