<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Your Transaction</h5>
      <small class="text-muted">Last Updated: <%= @transaction.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small>
    </div>
      <p class="mb-1">Coin: <%= @transaction.coin.name %></p>
      <p class="mb-1">Amount: $<%= @transaction.amount %></p>
      <p class="mb-1">Quantity: <%= @transaction.quantity %> <%= @transaction.coin.symbol %></p>
      <p class="mb-1">Coin price: $<%= @transaction.price_per_coin %></p>
      <p class="mb-1">Most recent price: $<%= @transaction.coin.last_known_value %></p>
      <p class="mb-1">Transaction fee: $<%= @transaction.fee %></p>
      
      <hr class="my-4">
      <div class="container">
      <%= link_to "Edit", 
          edit_user_transaction_path(current_user, @transaction),
          class: "btn btn-primary btn-lg", role: "button" if current_user %>
                
      <%= link_to "Delete", user_transaction_path(current_user, @transaction), 
          method: :delete, 
          data: {confirm: "Are you sure you want to delete this transaction?"},
          class: "btn btn-primary btn-lg", role: "button" if current_user %>
      </div>
  </div>
</div>