<!DOCTYPE html>
<html>
  <head>
    <title>Coinance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "$(document).ready(function(){
        setTimeout(function(){
        $('#flash-notice').fadeOut();
        }, 5000);
      })"
    %>
    <%= javascript_tag "$(document).ready(function(){
        setTimeout(function(){
        $('#devise-notice').fadeOut();
        }, 5000);
      })"
    %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/flash_notice' %>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
  
  <footer>
    <div class="container">
      <div class="text-center">
        <a class="github" href="https://github.com/TheInvalidNonce/Coinance">
          <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="60px">
            <p class="small text-muted">jszubert87@gmail.com</p>
        </a>
      </div>
    </div>
  </footer>
</html>
