<!DOCTYPE html>
<html>
  <head>
    <title>Coinance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> 
    <%= javascript_tag "$(document).ready(function(){
        setTimeout(function(){
        $('#flash-notice').fadeOut();
        }, 5000);
      })"
    %>
    <%= javascript_tag "$(document).ready(function(){
        setTimeout(function(){
        $('#devise-notice').fadeOut();
        }, 5000);
      })"
    %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/flash_notice' %>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
  
  <%= render 'layouts/footer' %>
</html>
